PORT=3002
NODE_ENV=development
DATABASE_URL="postgresql://usuario:password@localhost:5432/gesap_db?schema=public"
JWT_SECRET=cambiar_por_clave_segura
JWT_EXPIRES_IN=24h
GESAP_API_URL=http://localhost:3000